<section>
    <h1>Contact</h1>
    <form>
        <label for="framework">
            Favorite framework:
            <input id="framwork" type="text" [(ngModel)]="favouriteFramework" [ngModelOptions]="{standalone: true}">
        </label>
        {{ favouriteFramework }}
        <section>
            <button class="button" (click)="sendForm()">SEND</button>
        </section>
    </form>
</section>
<section>
    <h1>Reactive Forms</h1>
    <form [formGroup]="contactForm" (ngSubmit)="handleContactFormSubmit()">
        <label>Name
            <input type="text" formControlName="name">
        </label>
        <label>Email
            <input type="email" formControlName="email">
        </label>
        <button [disabled]="!contactForm.valid" type="submit">SUBMIT</button>
    </form>
    <p>Name: {{contactForm.value.name}}</p>
    <p>Email: {{contactForm.value.email}}</p>
</section>