<section>
    <h1> Hello {{ username }}, you are a {{ occupation}}!</h1>

    <!-- ssyntax of IF or ELSE -->
    @if (doesUserExists) {
    <p> Congratulations! You do exists :D </p>
    } @else {
    <p>Sorry, we could not find you!</p>
    }


    <!--- syntax of FOR -->

    <h3> Here are your list of operationg Systems: </h3>
    <ul>
        @for (os of operatingSystems; track os.id) {
        <li (mouseover)="onMouseOver">{{ os.id }} - {{ os.name | uppercase }}</li>
        }
    </ul>
    <!--- syntax for a DIV -->
    <div class="editable" [contentEditable]="isEditable">
        <button (click)="emitToParent()">Message</button>
    </div>
</section>